html,
body{
}
section{
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
/* Colors:
#27ae60
#2ecc71
#ecf0f1
#2c3e50
*/
a{
  color: #2c3e50;
}
a[href*="//"]:not([href="while-true-do.io"]) {
    /* external link styles, use :before or :after if you want! */
    color: #2c3e50;
}
#header{
  background-color: #27ae60;
  color: #fff;
}
#navigation{
  font-size: 2rem;
}
#navigation ul{
  margin-bottom: .5rem;
  margin-top: .5rem;
}
#navigation a{
  padding-left: .5rem;
  padding-right: .5rem;
  color: #fff;
  text-decoration: none;
}
.left{
  float: left;
  display: inline-block;
}
.right{
  float: right;
  display: block;
}
.img-responsive{
  width: 100%;
  height: auto;
}
.section-title{
  background-color: #ecf0f1;
  display: block;
  padding-left: .5rem;
  padding-right: .5rem;
}
